{% extends 'base.html' %}
{% load static %}

{% block password-reset-confirm %}
    <link rel="stylesheet" href="{% static 'users/css/password-reset-confirm.css' %}">

    <form class="password-reset-confirm-form" method="POST">
        {% csrf_token %}
        <h1>Придумайте новый пароль:</h1>
        <div class="password-reset-confirm">
            <div class="new-password">
                <label>{{ form.new_password1.label_tag }}</label>
                {{ form.new_password1 }}
            </div>
            <div class="confirm-password">
                <label>{{ form.new_password2.label_tag }}</label>
                {{ form.new_password2 }}
            </div>
        </div>
        <button type="submit" class="confirm-btn">Confirm</button>
    </form>

    {% block footer %}
    {% endblock %}

{% endblock %}