.password-reset-form {
    width: 1400px;
    height: calc(100vh - 70px);
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.email-input {
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.email {
    width: 250px;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.email:focus {
    outline: none;
}