.password-reset-confirm-form {
    width: 1400px;
    height: calc(100vh - 70px);
    margin: 0% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.password-reset-confirm {
    width: 417px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.new-password {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.new-password > label {
    font-size: 13px;
    color: rgba(0, 0, 0, 50%);
}

.new_password {
    border: 1px solid rgba(0, 0, 0, .1);
}

.new_password:focus {
    outline: none;
}

.confirm-password {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.confirm-password > label {
    font-size: 13px;
    color: rgba(0, 0, 0, 50%);
}

.confirm_password {
    border: 1px solid rgba(0, 0, 0, .1);
}

.confirm_password:focus {
    outline: none;
}

.confirm-btn {
    margin-top: 10px;
    width: 417px;
    border: none;
    background-color: #131313;
    color: #FFF;
    text-transform: uppercase;
}

.confirm-btn:hover {
    opacity: .7;
}